body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: red;
  background-color: black;
  text-shadow: 1px 1px 1px gray;
}
#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
button {
  background-color: navy;
  border: solid orange 3px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: dodgerblue;
  font-size: 16px;
  cursor: pointer;
}

ol,
ul {
  padding-left: 40%px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: black;
  border: 6px solid chartreuse;
  border-style: ridge;
  float: left;
  font-family: "Fascinate";
  font-size: 5em;
  font-weight: bold;
  text-shadow: 1px 2px 2px fuchsia;
  line-height: 135px;
  height: 135px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 135px;
}

.square:focus {
  outline: 2px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

div.game-board {
  height: 100%;
  display: grid;
  margin: auto;
}

h1 {
  color: fuchsia;
  text-align: center;
  font-family: Fascinate;
  font-size: 1.85em;
  text-shadow: 2px 4px 4px dodgerblue;
}
h2 {
  color: dodgerblue;
  font-family: "Titan One";
  font-size: 1.3em;
  text-align: center;
  text-shadow: 1px 1px 1px fuchsia;
}
h3 {
  color: red;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}
p.input-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1em;
  padding-right: 15px;
}
.gamers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}
.refresh {
  margin-left: 45%;
}
